---
---
$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

@import "minima";

.wrapper {
  max-width: calc(1200px - (30px * 2));
}

.site-title-logo {
  max-width: 50px;
  float: left;
  padding: 15px;
}

.site-header .wrapper {
  vertical-align: bottom;
  position: relative;
}

.site-title {
  position: absolute;
  bottom: 0;
}

.site-nav {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.talk-abstract {

}

.talk-abstract-content {
  padding-top: 20px;
}

.quarter-table {
  margin-bottom: 50px;
}

.quarter-header {
  // font-family: 'Source Sans Pro', sans-serif;
}

.talk-abstract-content > p {
  text-align: justify;
}

.talk-speaker {
  min-width: 150px;
}

.talk-date {
  min-width: 80px;
}

.profile-row {
  margin-bottom: 40px;
}

.profile {
  text-align: center;
  display: inline-block;
  margin-right: 50px;
}

.profile-pic {
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  border: 3px solid #FFF;
  box-shadow: 0 0 7px 0px #AAA;
}
